{% extends "base.html.twig" %}
{% block body %}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Films</th>
      <th scope="col">Livres</th>
    </tr>
  </thead>

  <tbody>

    {% for film in filmsP1 %}
    <tr>
      <th scope="row">
        {{ film.title }}
            {{ film.title }}
            {{ film.type }}
            <a href="{{ path('show_article') }}">consulter</a>
      </th>
    </tr>
    
    {% endfor %}

    <tr class="table-primary">
      <th scope="row">Active</th>
      <td>
      </td>
    </tr>
    <tr>
      <th scope="row">Default</th>
      <td>Column content</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Primary</th>
      <td>Column content</td>
    </tr>
  </tbody>
</table>  

<hr>



{% endblock %}
